body {
    background-color: rgb(229, 160, 160);
}

/*Sidebar/*/
.sidebar {
    box-sizing: border-box;
    flex-direction: column;
    height: 100%;
    width: 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: aliceblue;
}

.sidebar div {
    color: rgb(115, 74, 17);
    padding: 10px;
    background-color: rgb(255, 255, 255);
    font-size: larger;
    display: flexbox;
    text-align: center;
}

.sidebar a {
    text-decoration: none;
}

ion-icon {
    font-size: 24px;
  }

.twitter-icon {
    color: rgb(153, 153, 153);
    transition: color 0.2s;
}

.twitter-icon :hover {
    color: rgb(29, 155, 240);
}

.ins-icon {
    color: rgb(153, 153, 153);
    transition: color 0.2s;
}

.ins-icon :hover {
    color: rgb(225, 118, 104);
}

.DeviatArt-icon {
    color: rgb(153, 153, 153);
    transition: color 0.2s;
}

.DeviatArt-icon :hover {
    color: #00e59b;
}

/*Header/*/

header a {
    color: aliceblue;
    text-decoration: none;

}

nav li {
    list-style-type: none;
    display: inline-block;
    margin-right: 20px;
}

/*Section/*/

section.home-section div {
    display: inline-block;
    background-color: rgb(150, 214, 214);
    padding: 10%;
}

